section.hero-section.set-bg {
    background-size: 100%;
}

body {
    background: dimgray;
}

.wrapper {

    padding: 40px 40px;
}

.hero-section {
    height: 690px;
}

.wrapper {
    padding-top: 150px;
}

.col-lg-6.about-us {
    font-size: 12px;
    padding-right: 0px;
}

img.avatar.img-thumbnail {
    height: 150px;
}

.blockquote {
    color: white;
    font-size: 13px;
}

blockquote {
    display: inline;
}

img.vasko {
    float: left;
    margin-right: 40px;
}

img.didi {
    float: right;
    margin-right: 30px;
}

img.didi {
    margin-left: 30px;
}

h4.didi {
    margin-top: 30px;
    display: inline;
}

h4.vasko{
    color: #38a094;
}

h4.didi{
    color: #DC0D28;
}

blockquote > p, blockquote > footer {
    color: white;
}

span {
    color: #41BC3F;
}