.hero-section {
    height: 150px !important;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#course-container, #program-container {
    min-height: 300px;
}

#course-description-text, #title, .lecture-title, .lecture-description, .lecture-url {
    width: 90%;
}

#course-description-text {
    height: 150px;
}

.nicEdit-main {
    height: 200px;
}

.save-details {
    margin: 20px 0;
    text-align: center;
}

.save-details-success, .save-details-error {
    text-align: center;
}

#program-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

#title-error, #description-error, #category-error, #program-error, .error {
    color: red;
    margin-left: 20px;
}

.upload-response {
    margin-left: 20px;
}

.single-upload, .submit-btn-course {
    margin-top: 20px;
}

.file-input {
    display: none;
}

.input-label-0, .input-label-1 {
    margin-bottom: 0;
}

.input-label-1 {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upload-content {
    margin-top: 20px;
}

.save-lecture-div, .new-lecture-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-lecture-btn-container {
    margin-top: 20px;
    padding-top: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 0;
}

.lecture-description {
    min-height: 150px;
}

.save-lecture-success, .save-lecture-error {
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}

.save-lecture-error {
    color: red;
}

.save-lecture-btn, .cancel-lecture-btn {
    width: 150px;
    margin: 10px 0;
}

.lecture-row, .new-lecture-btn-container {
    border-top: solid 1px black;
}

.message-row {
    min-height: 50px;
}

.course-message-row {
    min-height: 100px;
}

#delete-btn {
    float: right;
}

#save-btn-container {
    margin-top: 50px;
}

.submit-course-error {
    margin-top: 10px;
    min-height: 25px;
    justify-content: center;
}