.hero-section {
    height: 150px !important;
}

.video { position: relative; }

.video a {
    position: absolute;
    display: block;
    background: url("/img/play-button.png") no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.lecture-row {
    margin: 20px;
}

.lecture-btn {
    margin: 20% 0 0 0;
}

.btn-container {
    text-align: center;
}

#edit-program-btn, #cancel-program-btn, #edit-description-btn, #cancel-description-btn, #created-by {
    margin-top: 1rem;
}

#program-container, #lectures-container, .course-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#progress-row, .average-grade {
    margin-bottom: 20px;
}

.average-grade {
    font-size: 20px;
}

.progress-bar {
    background-color: #41BC3F !important;
}

#course-description-text{
    width: 100%;
    height: auto;
    min-height: 150px;
}

.nicEdit-main {
    min-height: 150px !important;
}

.grade-div {
    margin-top: 15px;
}

#course-rating {
    font-weight: normal;
    font-size: 20px;
    margin-left: 25px;
}

.title-col {
    word-break: break-word;
}

.assignments-row {
    justify-content: center;
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}

.rating-text {
    text-align: right;
}