.hero-section {
    height: 150px !important;
}

.lecture-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

iframe, .video-container {
    display: inherit;
}

.assignment-container {
    margin-top: 15px;
}

#title, #description-div, #lecture_message {
    margin-top: 10px;
}

#download-link {
    color: black;
    margin-right: 10px;
}

#singleFileUploadInput {
    display: none;
}

#input-label-0, #input-label-1 {
    margin-bottom: 0;
}

#input-label-1 {
    padding-left: 10px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upload-content {
    margin-top: 20px;
}

#next-btn {
    float: right;
}

.lecture-navigation {
    margin-top: 30px;
}

.back-container {
    text-align: center;
}