<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Course</title>
    <meta charset="UTF-8">
    <meta name="description" content="DigitalUni">
    <meta name="keywords" content="digitaluni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/course.css"/>
</head>
<body>
<div th:insert="/fragments/header :: preload"></div>
<div th:insert="/fragments/header :: header"></div>

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="/img/header-background-2.jpg">
</section>
<!-- Hero section end -->

<section>
    <div class="container course-container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12 title-col">
                            <h2><span th:text="${course.title}"></span><span id="course-rating" th:text="@{'Rating: ' + ${course.avgRating}}"></span></h2>
                        <p th:text="${course.category.name}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="description-div" th:text="${course.description}"></div>
                        <button type="button" class="btn btn-success"
                                th:if="${#authentication.principal.username == course.teacher}"
                                id="edit-description-btn">Edit Description
                        </button>
                        <button type="button" class="btn btn-success"
                                th:if="${#authentication.principal.username == course.teacher}"
                                id="cancel-description-btn" hidden disabled>Cancel
                        </button>
                        <span id="description-span"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p id="created-by"><span>Created by&nbsp;</span><span th:text="${course.teacher}"></span></p>
                    </div>
                </div>
                <div class="row" id="enroll-row" th:unless="${#authentication.principal.username == course.teacher}">
                    <div class="col-lg-12 text-white">
                        <button id="enroll" class="site-btn" hidden disabled>Enroll</button>
                    </div>
                </div>
                <div class="row" id="progress-row" th:unless="${#authentication.principal.username == course.teacher}">
                </div>
                <div class="average-grade">Average Grade: </div>
                <div class="row">
                    <div class="col-lg-3 text-white">
                        <button id="to-lectures" class="btn btn-success site-btn">To Lectures</button>
                    </div>
                    <div class="col-lg-3 rating-text"></div>
                    <div class="col-lg-5 rating-container"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div th:if="${image != null}" id="user-image">
                    <img th:src="@{'data:image/png;base64,' + ${image}}" class="course-image img-thumbnail"
                         alt="Image">
                </div>
                <div th:unless="${image != null}" id="default-image">
                    <img src="/img/image-placeholder.jpg"
                         alt="Image" class="default-image">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" id="program-container">
        <h2>Program:</h2>
        <div class="row">
            <div class="col-lg-12">
                <div id="program-div" th:utext="${course.program}"></div>
                <button type="button" class="btn btn-success" th:if="${#authentication.principal.username == course.teacher}" id="edit-program-btn">Edit Program</button>
                <button type="button" class="btn btn-success" th:if="${#authentication.principal.username == course.teacher}" id="cancel-program-btn" hidden disabled>Cancel</button>
                <span id="program-span"></span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" id="lectures-container">
        <h2>Lectures:</h2>
    </div>
</section>

<div th:insert="/fragments/footer :: footer"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    let courseId = /*[[${course.id}]]*/ 'default';
    let username = /*[[${#authentication.name}]]*/ 'default';
    let isTeacher = /*[[${#authentication.principal.username == course.teacher}]]*/ 'default';

    /*]]>*/
</script>

<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/circle-progress.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/course.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/moment-duration-format.js"></script>

<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
</body>
</html>