<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Courses</title>
    <meta charset="UTF-8">
    <meta name="description" content="DigitalUni">
    <meta name="keywords" content="digitaluni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>
<div th:insert="/fragments/header :: preload"></div>
<div th:insert="/fragments/header :: header"></div>

<!-- Hero section -->
<section class="hero-section hero-section-courses set-bg" data-setbg="/img/header-background-2.jpg">
</section>
<!-- search section -->
<section class="search-section ss-other-page">
    <div class="container search-container">
        <div class="search-warp">
            <div class="row">
                <div class="col-lg-12 offset-lg-1 course-search">
                    <!-- search form -->
                    <form class="course-search-form">
                        <input type="text" placeholder="Title" id="title">
                        <select data-live-search="true" name="teacher" id="teacher">
                            <option value="">Select teacher</option>
                            <option th:each="teacher : ${teachers}" th:value="${teacher}"
                                    th:text="${teacher}"></option>
                        </select>
                        <select data-live-search="true" name="category" id="category">
                            <option value="">Select category</option>
                            <option th:each="category : ${categories}" th:value="${category.name}"
                                    th:text="${category.name}" th:selected="${category.name == categoryFilter}"></option>
                        </select>

                        <select name="orderBy" id="orderBy">
                            <option value="">Order by</option>
                            <option value="ra">Rating Ascending</option>
                            <option value="rd">Rating Descending</option>
                            <option value="ta">Title Ascending</option>
                            <option value="td">Title Descending</option>
                        </select>

                        <button class="site-btn btn-dark search" type="button" onclick="loadCourses()">Search</button>
                        <button class="site-btn btn-dark search" type="button" onclick="clearFilters()">Clear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- search section end -->

<!-- course section -->
<section class="course-section spad">
    <div class="course-warp">
        <!--<ul class="course-filter controls">
            <li class="control active" data-filter="all">All</li>
            <li class="control" th:data-filter="${topCategoryOneClass}" th:text="${topCategoryOne}"
                title="Most popular categories">Category One name
            </li>
            <li class="control" th:data-filter="${topCategoryTwoClass}" th:text="${topCategoryTwo}"
                title="Most popular categories">Category Two name
            </li>
            <li class="control" th:data-filter="${topCategoryThreeClass}" th:text="${topCategoryThree}"
                title="Most popular categories">Category Three name
            </li>
        </ul>-->

        <div class="container-fluid">
            <nav aria-label="Filter result pages">
                <ul class="pagination justify-content-center">
                </ul>
            </nav>
        </div>

        <div class="row course-items-area filteredCourses">
        </div>

        <div class="container-fluid">
            <nav aria-label="Filter result pages">
                <ul class="pagination justify-content-center">
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- course section end -->


<div th:insert="/fragments/footer :: footer"></div>


<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/circle-progress.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/courses.js "></script>
</body>
</html>