<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Lecture</title>
    <meta charset="UTF-8">
    <meta name="description" content="DigitalUni">
    <meta name="keywords" content="digitaluni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/lecture.css"/>
</head>
<body>
<div th:insert="/fragments/header :: preload"></div>
<div th:insert="/fragments/header :: header"></div>

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="/img/bg.jpg">

</section>
<!-- Hero section end -->

<section>
    <div class="container lecture-container">
        <div class="row">
            <div class="col-lg-12 justify-content-center video-container">
                <iframe width="100%" height="565"
                        th:src="@{'https://www.youtube.com/embed/' + ${lecture.videoURL}}"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 id="title" th:text="${lecture.title}"></h3>
                <div id="description-div" th:utext="${lecture.description}"></div>
                <div id="lecture_message"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 assignment-container justify-content-center">

            </div>
        </div>
        <div class="row lecture-navigation">
            <div class="col-lg-2 prev-container"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-2 back-container">
                <button type="button" class="btn btn-success" id="back-btn">Back to course</button>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-2 next-container"></div>
        </div>
    </div>
</section>

<div th:insert="/fragments/footer :: footer"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    let courseId = /*[[${lecture.courseId}]]*/ 'default';
    let lectureId = /*[[${lecture.id}]]*/ 'default';
    let assignmentId =  /*[[${lecture.assignmentId}]]*/ 'default';
    let prevLectureId = /*[[${lecture.prevLectureId}]]*/ 'default';
    let nextLectureId = /*[[${lecture.nextLectureId}]]*/ 'default';
    let username = /*[[${#authentication.name}]]*/ 'default';

    /*]]>*/
</script>

<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/circle-progress.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/lecture.js"></script>
</body>
</html>