<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Teacher</title>
    <meta charset="UTF-8">
    <meta name="description" content="DigitalUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/owl.carousel.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>
<div th:insert="/fragments/header :: preload"></div>
<div th:insert="/fragments/header :: header"></div>

<section class="hero-section set-bg" data-setbg="/img/register-teacher.jpg">
    <!-- Register Form -->
    <div class="container">
        <div class="hero-text text-white register-form-teacher">
            <form class="form-horizontal" th:action="@{/register}" th:object="${user}" method="POST"
                  onsubmit="return checkPassword(this);">
                <div class="row">
                    <div class="col-md-3 field-label-responsive text-left">
                        <label for="username">Username</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                <input type="text" id="username" name="username" placeholder="" class="form-control"
                                       th:value="${user.username}" minlength="5" maxlength="15" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                    <span class="text-danger align-middle" th:if="${error_username != null}"
                          th:text="${error_username}"></span>
                            <span class="text-danger align-middle" th:if="${error_username_exists != null}"
                                  th:text="${error_username_exists}"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 field-label-responsive text-left">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-envelope"></i></div>
                                <input type="email" id="email" name="email" placeholder="" class="form-control"
                                       th:value="${user.email}" minlength="5" maxlength="50" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                    <span class="text-danger align-middle" th:if="${error_email != null}"
                          th:text="${error_email}"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 field-label-responsive text-left">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                <input type="password" id="password" name="password" placeholder="" class="form-control"
                                       minlength="8" maxlength="64" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 field-label-responsive text-left">
                        <label for="password_confirm">Confirm password</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-repeat"></i></div>
                                <input type="password" id="password_confirm" name="password_confirm" placeholder=""
                                       class="form-control" minlength="8" maxlength="64" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback password-error">
                    <span class="text-danger align-middle" th:if="${error_password != null}"
                          th:text="${error_password}"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 field-label-responsive text-left">
                        <label for="resume">What motivates you?</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-book"></i></div>
                                <textarea id="resume" name="resume" class="form-control"
                                          th:text="${user.resume}" minlength="25" maxlength="500"
                                          required></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- Register Form end-->
</section>

<div th:insert="/fragments/footer :: footer"></div>

<!--====== Javascripts & Jquery ======-->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/circle-progress.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/password-match.js"></script>
</body>
</html>